.hero-body .container.is-fluid {
    background: none;
}

.quire-cover__hero .title {
    color: rgba(0,0,0,.65);
}

.quire-cover__hero .subtitle {
    color: rgba(0,0,0,.65);
}

.quire-cover__hero .contributor {
    color: rgba(0,0,0,.65);
}

.quire-contents-buttons li.quire-nav-button:hover {
    background-color: #C9A1A6;
    border-color: #C9A1A6;
}

.quire-contents-buttons li.quire-nav-button.next {
    background-color: #C9A1A6;
}

.quire-contents-buttons li.quire-nav-button.prev {
    background-color: #C9A1A6;
}

.quire-contents-buttons li.quire-nav-button {
    border: 1px solid #C9A1A6;
}

.quire-menu .page-item a.active, .quire-menu .section-item a.active {
    border-left: 4px solid #C9A1A6;
    color: #C9A1A6!important;
}

.quire-navbar-controls__left a:hover, .quire-navbar-controls__left button:hover, .quire-navbar-controls__left .button:hover, .quire-navbar-controls__right a:hover, .quire-navbar-controls__right button:hover, .quire-navbar-controls__right .button:hover, .quire-navbar-controls .quire-navbar-page-controls__item a:hover, .quire-navbar-controls .quire-navbar-page-controls__item button:hover, .quire-navbar-controls .quire-navbar-page-controls__item .button:hover {
    background-color: #C9A1A6;
}

.quire-progress-bar div {
    background-color: #C9A1A6;
}

.quire-contents-buttons li.quire-nav-button.prev a {
    color: #fff;
}

.quire-contents-buttons li.quire-nav-button.prev svg {
    color: #fff;
}