.hero-body .container.is-fluid {
    background: none;
}

.quire-cover__hero .title {
    color: rgba(0,0,0,.65);
}

.quire-cover__hero .subtitle {
    color: rgba(0,0,0,.65);
}

.quire-cover__hero .contributor {
    color: rgba(0,0,0,.65);
}

.quire-contents-buttons li.quire-nav-button.next {
    background-color: #C9A1A6;
}

.quire-contents-buttons li.quire-nav-button.next:hover {
    background-color: #8d7174!important;
}

.quire-contents-buttons li.quire-nav-button {
    border: 1px solid #8d7174;
}